@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    color: #A9A297;
}

body {
    height: 100vh;
    background: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 400px;
    height: 620px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    box-shadow: 0 30px 2px 10px #0C1729, 0 30px 2px 45px #0C192C;
}

section {
    margin: 30px;
}

.hero-img {
    width: 340px;
    height: 310px;
    border-radius: 10px;
    overflow: hidden;
}

.overlay-img {
    position: absolute;
    width: 340px;
    height: 310px;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsla(178, 100%, 50%, .5);
    background-image: url(../images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 205px;
    z-index: 99;
    opacity: 0;
    transition: .7s;
    cursor: pointer;
}

.overlay-img:hover {
    opacity: 1;
}

.hero-img img {
    width: 340px;
    height: 310px;
}

h1 {
    font-size: 28px;
    color: white;
    margin: 20px 0;
    cursor: pointer;
}

h1:hover {
    color: hsl(178, 100%, 50%);
    transition: .5s;
}

.details p {
    display: inline-block;
    margin-top: 20px;
}

.ETH {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

.time {
    float: right;
}

footer p img {
    border-radius: 50%;
    width: 40px;
    border: 1px solid white;
}

hr {
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    border: none;
    width: 350px;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer {
    place-items: center;
}

.txt {
    position: relative;
    bottom: 15px;
    left: 15px;
}

.name {
    color: white;
    transition: .5s;
}

.name:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}